.elementor-42 .elementor-element.elementor-element-dee9778 > .elementor-container{max-width:1250px;}.elementor-42 .elementor-element.elementor-element-ce0598f > .elementor-element-populated{margin:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-e11583b > .elementor-widget-container{margin:0px 0px 333px -22px;padding:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-a515d8f{margin-top:-19px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-4aff3c7 .elementor-button .elementor-align-icon-right{margin-left:0px;}.elementor-42 .elementor-element.elementor-element-4aff3c7 .elementor-button .elementor-align-icon-left{margin-right:0px;}.elementor-42 .elementor-element.elementor-element-4aff3c7 .elementor-button{font-size:50px;fill:#D4A769;color:#D4A769;background-color:rgba(24, 24, 24, 0);border-radius:0% 0% 0% 0%;padding:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-e0b55b1{text-align:center;}.elementor-42 .elementor-element.elementor-element-e0b55b1 .elementor-heading-title{color:#181818;font-family:"Futura Lt", Sans-serif;font-size:18px;font-weight:700;line-height:1.3em;}.elementor-42 .elementor-element.elementor-element-e0b55b1 > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-b6359ac{text-align:left;}.elementor-42 .elementor-element.elementor-element-b6359ac .elementor-heading-title{color:#000000;font-family:"Silk", Sans-serif;font-size:26px;font-weight:300;letter-spacing:0px;}.elementor-42 .elementor-element.elementor-element-b6359ac > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-4912085 .elementor-text-editor{text-align:left;}.elementor-42 .elementor-element.elementor-element-4912085{color:#000000;font-family:"Futura Lt", Sans-serif;font-size:18px;}.elementor-42 .elementor-element.elementor-element-4912085 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-42 .elementor-element.elementor-element-f484bbc.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-42 .elementor-element.elementor-element-f484bbc.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-42 .elementor-element.elementor-element-f484bbc:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap, .elementor-42 .elementor-element.elementor-element-f484bbc > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFEFDB;}.elementor-42 .elementor-element.elementor-element-f484bbc > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:25px 25px 25px 25px;}.elementor-42 .elementor-element.elementor-element-f484bbc > .elementor-element-populated > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-42 .elementor-element.elementor-element-108c41b .cart button{font-family:"Futura Lt", Sans-serif;padding:10px 20px 10px 20px;background-color:#212121;transition:all 0.2s;}.elementor-42 .elementor-element.elementor-element-108c41b .cart button:hover{background-color:#070707;}body:not(.rtl) .elementor-42 .elementor-element.elementor-element-108c41b .quantity + .button{margin-left:0px;}body.rtl .elementor-42 .elementor-element.elementor-element-108c41b .quantity + .button{margin-right:0px;}.elementor-42 .elementor-element.elementor-element-108c41b .quantity .qty{border-style:solid;background-color:#212121;transition:all 0.2s;}.woocommerce .elementor-42 .elementor-element.elementor-element-108c41b form.cart .variations{width:100%;margin-bottom:50px;}.woocommerce .elementor-42 .elementor-element.elementor-element-108c41b form.cart table.variations tr:not(:last-child){margin-bottom:20px;}.woocommerce .elementor-42 .elementor-element.elementor-element-108c41b form.cart table.variations td.value:before{border-radius:0px;}.elementor-42 .elementor-element.elementor-element-11e3066 > .elementor-container{max-width:1250px;}.elementor-42 .elementor-element.elementor-element-11e3066{margin-top:33px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-6965157 .elementor-heading-title{color:#000000;font-family:"Silk", Sans-serif;font-size:20px;font-weight:300;}.elementor-42 .elementor-element.elementor-element-c072d37 > .elementor-widget-container{margin:-5px 0px 20px 0px;}.elementor-42 .elementor-element.elementor-element-cef32df .elementor-heading-title{color:#000000;font-family:"Silk", Sans-serif;font-size:20px;font-weight:300;}.elementor-42 .elementor-element.elementor-element-91375fa > .elementor-widget-container{margin:-5px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-45c564c > .elementor-container{max-width:1250px;}.elementor-42 .elementor-element.elementor-element-45c564c{margin-top:50px;margin-bottom:50px;padding:0px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-0919c8c{text-align:center;}.elementor-42 .elementor-element.elementor-element-0919c8c .elementor-heading-title{color:#181818;font-family:"Silk", Sans-serif;font-size:30px;font-weight:500;line-height:1.5em;}.elementor-42 .elementor-element.elementor-element-0919c8c > .elementor-widget-container{margin:10px 0px 50px 0px;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products .attachment-woocommerce_thumbnail{border-style:solid;border-width:8px 8px 8px 8px;border-color:#FFFFFF;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products ul.products li.product .woocommerce-loop-product__title{color:#000000;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products ul.products li.product .woocommerce-loop-category__title{color:#000000;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products ul.products li.product .woocommerce-loop-product__title, .elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products ul.products li.product .woocommerce-loop-category__title{font-family:"Silk", Sans-serif;font-size:20px;font-weight:500;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products ul.products li.product .price{color:#000000;font-family:"Futura Lt", Sans-serif;font-size:16px;font-weight:normal;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products ul.products li.product .price ins{color:#000000;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products ul.products li.product .price ins .amount{color:#000000;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products ul.products li.product .button{color:#6EC1E4;}.woocommerce .elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products .products > h2{color:#181818;font-family:"Silk", Sans-serif;text-align:center;margin-bottom:1.8em;}@media(max-width:1024px){.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}@media(max-width:767px){.elementor-42 .elementor-element.elementor-element-dee9778{margin-top:0px;margin-bottom:0px;}.elementor-42 .elementor-element.elementor-element-f484bbc > .elementor-element-populated{margin:25px 0px 0px 0px;}.elementor-42 .elementor-element.elementor-element-e46392a.elementor-wc-products  ul.products{grid-column-gap:20px;grid-row-gap:40px;}}@media(min-width:768px){.elementor-42 .elementor-element.elementor-element-ce0598f{width:69.935%;}.elementor-42 .elementor-element.elementor-element-f484bbc{width:30%;}}/* Start custom CSS for woocommerce-product-images, class: .elementor-element-e11583b */.wp-post-image {
    border: solid 6px white !important;
    box-shadow: 0 3px 8px 0 #B4B4B4 !important;
}

.woocommerce-product-gallery__image {
    padding: 20px;
    width: 25%;
    margin-left: 38%;
    margin-top: 8%;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-a515d8f */.elementor-42 .elementor-element.elementor-element-a515d8f {
    position: absolute;
    max-width: 100%;
    z-index: -1;
}/* End custom CSS */
/* Start custom CSS for button, class: .elementor-element-4aff3c7 */.elementor-42 .elementor-element.elementor-element-4aff3c7 {
    transform: rotate(270deg)
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-f58563f */.elementor-42 .elementor-element.elementor-element-f58563f {
    position: absolute;
    left: -20%;
    top: 30%;
    max-width: 100px;
    
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-add-to-cart, class: .elementor-element-108c41b */body {
    font-family: Futura Lt;
}

h1, h2, h3 {
    font-family: Silk;
}

.quantity {
    display: none !important;
    pointer-events: none !important;
}

.reset_variations {
    display: none !important;
    pointer-events: none !important;
}

.label {
    margin-top: -15px;
}

.woocommerce-variation-price {
    font-size: 24px;
}

.woocommerce-Price-currencySymbol {
    font-family: Arial;
    font-weight: lighter;
}
.woocommerce-Price-amount {
    font-weight: 600;
}/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-dee9778 */.quantity {
    display: none;
    pointer-events: none;
}/* End custom CSS */
/* Start custom CSS for woocommerce-product-related, class: .elementor-element-e46392a */.related h2:first-child {
    display: none;
}

.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail:hover {
    box-shadow: 0 0 0 0 #ececec;
}

.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    box-shadow: 0 0 20px 0 #d8d8d8;
    transition: box-shadow 0.3s ease-in-out;
}

.button.product_type_variable.add_to_cart_button {
    display: none;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Futura Lt';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/Futura-Book-font.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura Lt';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/futura-light-bt.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura Lt';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/Futura-Light-Italic-font.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura Lt';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/futura-medium-bt.ttf') format('truetype');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Silk';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/SilkSerif-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Silk';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/SilkSerif-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'Silk';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/SilkSerif-Medium.ttf') format('truetype');
}
/* End Custom Fonts CSS */