.elementor-76 .elementor-element.elementor-element-8c8ccc8:not(.elementor-motion-effects-element-type-background), .elementor-76 .elementor-element.elementor-element-8c8ccc8 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-76 .elementor-element.elementor-element-8c8ccc8{box-shadow:0px 0px 20px -5px rgba(0, 0, 0, 0.25);transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:-5px;margin-bottom:25px;}.elementor-76 .elementor-element.elementor-element-8c8ccc8 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-76 .elementor-element.elementor-element-fb775cf{text-align:center;}.elementor-76 .elementor-element.elementor-element-fb775cf > .elementor-widget-container{margin:15px 0px -10px 0px;}.elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__toggle{text-align:center;}.elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__toggle .elementor-button{color:#000000;background-color:#FFEFDB;border-color:#FFEFDB;border-radius:100px;}.elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__toggle .elementor-button-icon{color:#000000;font-size:24px;}body:not(.rtl) .elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__toggle .elementor-button-text{margin-right:0px;}body.rtl .elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__toggle .elementor-button-text{margin-left:0px;}.elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__product, .elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__subtotal{border-color:#000000;}.elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__product, .elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__products, .elementor-76 .elementor-element.elementor-element-92be293 .elementor-menu-cart__subtotal{border-bottom-width:0px;}.elementor-76 .elementor-element.elementor-element-92be293 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-76 .elementor-element.elementor-element-92be293{width:75px;max-width:75px;top:46px;}body:not(.rtl) .elementor-76 .elementor-element.elementor-element-92be293{left:1053px;}body.rtl .elementor-76 .elementor-element.elementor-element-92be293{right:1053px;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-menu-toggle{margin:0 auto;background-color:#FFFFFF;font-size:28px;border-width:3px;border-radius:0px;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu .elementor-item{font-family:"Futura Lt", Sans-serif;font-size:18px;font-weight:300;text-transform:uppercase;font-style:normal;text-decoration:none;letter-spacing:0px;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main .elementor-item{color:#000000;padding-left:40px;padding-right:40px;padding-top:15px;padding-bottom:15px;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main .elementor-item:hover,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main .elementor-item:focus{color:#000000;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#FFFFFF;}.elementor-76 .elementor-element.elementor-element-1dcf843 .e--pointer-framed .elementor-item:before,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .e--pointer-framed .elementor-item:after{border-color:#FFFFFF;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main .elementor-item.elementor-item-active{color:#000000;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:rgba(212, 167, 105, 0);}.elementor-76 .elementor-element.elementor-element-1dcf843 .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:rgba(212, 167, 105, 0);}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a, .elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-menu-toggle{color:#000000;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown{background-color:#FFFFFF;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a:hover,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a.highlighted,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-menu-toggle:hover{color:#000000;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a:hover,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a.highlighted{background-color:rgba(255, 255, 255, 0);}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a.elementor-item-active{color:#000000;background-color:#000000;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown .elementor-item, .elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Futura Lt", Sans-serif;font-size:16px;font-weight:300;text-transform:uppercase;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--dropdown a{padding-left:25px;padding-right:25px;padding-top:12px;padding-bottom:12px;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:5px !important;}.elementor-76 .elementor-element.elementor-element-1dcf843 div.elementor-menu-toggle{color:#000000;}.elementor-76 .elementor-element.elementor-element-1dcf843 div.elementor-menu-toggle:hover{color:#FFFFFF;}.elementor-76 .elementor-element.elementor-element-1dcf843 .elementor-menu-toggle:hover{background-color:#000000;}.elementor-76 .elementor-element.elementor-element-1dcf843 > .elementor-widget-container{margin:0px 0px 5px 0px;}@media(max-width:1024px){body:not(.rtl) .elementor-76 .elementor-element.elementor-element-92be293{left:655px;}body.rtl .elementor-76 .elementor-element.elementor-element-92be293{right:655px;}}@media(max-width:767px){.elementor-76 .elementor-element.elementor-element-fb775cf > .elementor-widget-container{margin:5px 0px 0px 0px;}body:not(.rtl) .elementor-76 .elementor-element.elementor-element-92be293{left:265px;}body.rtl .elementor-76 .elementor-element.elementor-element-92be293{right:265px;}.elementor-76 .elementor-element.elementor-element-92be293{top:84px;}.elementor-76 .elementor-element.elementor-element-1dcf843 > .elementor-widget-container{margin:-5px 0px 5px 0px;}}/* Start custom CSS for theme-site-logo, class: .elementor-element-fb775cf */.elementor-menu-cart__close-button:after, .elementor-menu-cart__close-button:before {
    background-color: #000;
    border-radius: 0px;
}/* End custom CSS */
/* Start custom CSS for woocommerce-menu-cart, class: .elementor-element-92be293 */#navShopCart a {
    padding: 12px;
}

#navShopCart a:hover {
    padding: 16px;
    transform: translate(0px, -4px);
}/* End custom CSS */
/* Start custom CSS for nav-menu, class: .elementor-element-1dcf843 */a.elementor-item:hover {
    background-color: #FFEFDB !important;
    box-shadow: inset 0px 18px 0px 8px #fff !important;
}

a.elementor-item-active {
    background-color: #FFEFDB !important;
    box-shadow: inset 0px 18px 0px 8px #fff !important;
}

a.elementor-item-active:hover {
    background-color: #FFEFDB !important;
    box-shadow: inset 0px 18px 0px 8px #fff !important;
}





.elementor-nav-menu--dropdown a.elementor-item {
    max-width: 40%;
    margin: auto;
}

.elementor-nav-menu--dropdown a.elementor-item-active {
    background-color: #fff !important;
}/* End custom CSS */
/* Start custom CSS */::selection {
    background-color: #FFEFDB;
    color: black;
}

.elementor-76 {
    z-index: 5;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Futura Lt';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/Futura-Book-font.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura Lt';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/futura-light-bt.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura Lt';
	font-style: italic;
	font-weight: 300;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/Futura-Light-Italic-font.ttf') format('truetype');
}
@font-face {
	font-family: 'Futura Lt';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('http://www.store.perspectivesparis.com/wp-content/uploads/2020/07/futura-medium-bt.ttf') format('truetype');
}
/* End Custom Fonts CSS */